* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1024px;
    margin:auto;    
}    

nav .nav-l {
    text-decoration: none;
}

header {
    background-color: rgb(244, 249, 253);
    height: 70px;
}

header nav {
    padding: 10px;
    line-height: 50px;
    font-size: 12px;
}
    
header nav ul li {
    display: inline-block;
}   

header span {
    margin-right: -10px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.selector {
    border: none;
    background-color: transparent;
    color: rgba(51,71,91,255);

}

.fa-angle-down {
    color: rgba(51,71,91,255);
    padding-right: 25px;
    vertical-align: middle;
}   

header ul li a {
    text-decoration: none;
    border-left: 1px solid rgb(139, 147, 151);
    padding: 0 0 5px 15px;
    color: rgba(51,71,91,255);

}

.search-button {
    border:none;
    padding: 10px;
    background-color:transparent;
    margin-right: 10px;
}

.login-button {
    background-color: rgb(255, 255, 255);
    color: rgba(254,119,90,255);
    border: 1px solid rgba(254,119,90,255);
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
   }

.hubspot-button {
background-color:rgba(254,119,90,255);
color: rgb(255, 255, 255);
padding: 10px;
border-radius: 5px;
border: none;
}

.hubspot {
    padding-top: 15px;
    padding-bottom:15px;
}

.logo {
    padding-top: 15px;
}

.center-nav-left {
    padding-top: 15px;
}

main nav ul li {
    display: inline-block;
}

main ul li a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 13px;
}


.hero {
    margin-top: 50px;
    background-image: url(img/jumbotron.png);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    height: 450px;
}

.hubspot-button-2 {
    background-color:rgba(254,119,90,255);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
   }

.hero .container h1 {
    padding-top: 30px;
    width: 50%;
    color: rgba(51,71,91,255);
    font-size: 45px;
}

.hero .container p {
    padding-top: 30px;
    width: 50%;
    color: rgba(51,71,91,255);
    font-size: 15px;
}

.hero .container h5 {
    padding-top: 30px;
    width: 50%;
    color: rgba(51,71,91,255);
    font-size: 10px;
}


.wait-zone {
    height: 60px;
    background-color: rgb(187, 233, 228);
    border-top: 2px solid rgba(51,71,91,255);
    border-bottom: 2px solid rgba(51,71,91,255);
}

.light-background {
    background-color:rgb(246, 255, 254);
}

.container-sect {
    margin:auto;   
    width: 70%;
}

.cubo-img {
    width: 100%;
    object-fit: contain;
    height: 200px;
    padding-top: 20px;
}

.text-align {
    font-size: 18x;
    color: rgba(51,71,91,255);
    width: 75%;
    padding: 10px 0 30px 0;
    margin: auto;
    text-align: center;
}

.text-align p {
    padding-top: 15px;
    color: rgba(51,71,91,255);
    font-size: 13px;
}

.wrapper {
    width: 75%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin:auto;
}

.wrapper-col {
    width: 75%;
    height: 100%;
    text-align: center;
    margin:auto;
}

.row {
    padding: 65px;
    
}

.row-left {
    width: 34%;
    padding: 0 30px;
}

.hubspot-button-3 {
    background-color:rgba(254,119,90,255);
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
   }

.row-right {
    width: 65%;
    margin-left: 4px;
}

.text-row-right h2 {
    color: rgba(51,71,91,255);
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.text-row-right p {
    color: rgba(51,71,91,255);
    font-size: 12px;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
}

.text-row-right h3 {
    color: rgba(51,71,91,255);
    font-size: 20px;
    padding-right: 30px;
    display: inline-block;
}

.middle-hr {
    display: inline-block;
    border-top: 2px solid rgb(112, 112, 112);
    width: 38%;
    vertical-align: middle;
}   

.checkmark {
    vertical-align: middle;
    text-align: left;
    padding-top:30px;
    color: rgba(51,71,91,255);
}

.checkmark span {
    border-radius: 50px;
    background-color: rgba(254,120,91,255);
    color:rgb(255, 255, 255);
}

.col {
    width: 31%;
    padding: 28px;
    background-color: rgb(255, 255, 255);
    margin-left: 17px;
}


.img-container {
    height: 120px;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}


.hr-col {
    border-top: 1px solid rgb(51, 71, 91);
    width: 100%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}   

.checkmark-row {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: left;
    color: rgba(51,71,91,255);
}

.checkmark-row span {
    border-radius: 50px;
    background-color: rgba(254,120,91,255);
    color:rgb(255, 255, 255);
}

.row-wrap {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: -15px;
}

.aqua-background {
    background-color: rgba(0,185,169,255)
    ;
}

.white-text {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 65%;
    margin: auto;
    padding: 30px 0 10px 0;
}

.big-white-text {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    padding: 30px 0 10px 0;
}

.little-white-text {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    padding: 30px 0 10px 0;
}

.aqua-background .table-wrap {
    color: white;
    text-align: center;
    margin: auto;
}

.border-right {
    border-right: 1px solid white;
}

.border-bot {
    border-bottom: 1px solid white;
}


.wrap-item {
    width: 25%;
}

.wrap-item > * {
    margin: 20px 0;
}

.wrap-item h2 {
    font-size: 32px;
}

.wrap-item p {
    font-size: 10px;
    
}

.row-middle {
    margin-top: 40px;
    margin-left: 120px;
    color: rgba(51,71,91,255);
}


.row-middle-left h2 {
    font-size: 40px;
}

.row-middle-left p {
    font-size: 12px;
    width: 65%;
}

.row-middle-left {
    width: 33%;
}

.row-middle-right {
    width: 66%;
}

.img-logo {
    vertical-align: middle;
    width: 14%;
    padding:10px;
}

.row-down {
    margin-top: 80px;
    color: rgba(51,71,91,255);
}

.row-down h2 {
    font-size: 30px;
}

.row-down p {
    font-size: 15px;
}

.row-down-small-p {
    font-size: 11px;
    margin-top: 30px;
}

.row-down-left {
    width: 40%;
}

.row-down-right {
    width: 50%;
    text-align: right;
}

.woman-img {
    width:40%;
}

.gray-background {
    margin-top: 25px;
    background-color: rgba(50,73,91,255);
    height: 700px;
    color: rgb(255, 255, 255);
}

.container-footer {
    width: 1024px;
    margin:auto;   
    width: 70%;
}

.container-footer ul li {
    list-style-type: none;
}

.container-footer ul li a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.col-footer {
    padding-top: 39px;
    width: 25%;
}

.col-footer h4 {
    padding-bottom: 25px;
}

.col-footer li {
    padding-bottom:20px;
}

.languages {
    text-align: center;    
}

.lang-foot {
    padding-top: 50px;
    display: inline-block;
    padding-bottom: 20px;
    margin-left: 15px;
}

.col-footer-right li {
    padding-top:39px;
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
}

.col-footer li button {
    background-color:rgba(218,222,224,255);
    color: rgba(51,71,91,255);
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}


.fa {
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }

  .fa-facebook {
    color: white;
  }

  .fa-instagram {
    color: white;
    margin-left: 12px;
}

.fa-youtube {
    color: white;
    margin-left: 12px;
}

  .fa-twitter {
    color: white;
    margin-left: 12px;
  }

  .fa-linkedin {
      color: white;
    margin-left: 12px;
  }
